﻿.m-b-15{
	margin-bottom: 15px;
}

.label{
	color: $primary-font-inactive-color;
	font-size: 11px;
	text-transform: uppercase;
	color: #605b5b;
}

.text-center{
	text-align: center;
}

.bottom-border{
	&:after {
        @include smallBorder(40px)
    }
}