﻿@mixin smallBorder($width) {
	content: "";
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: $width;
	height: 3px;
	background-color: $background-contrast-color;
	opacity: .3
}