﻿@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i';

//Colors
$primary-background-color: #232428;
$primary-font-color: #ffffff;
$primary-font-inactive-color: #d3d3d3;
$primary-cta-color: #c00c33;
$primary-cta-hover-color: #e90039;
$primary-border-color: #696969;
$background-contrast-color: #4f515a;
$tooltip-background-color: #f4f4f4;
$tooltip-font-color: #333333;

//Fonts
$primary-font: 'Noto Sans', sans-serif;
$bold: 700;
$normal: 400;

//Animations
$primary-transition: .3s cubic-bezier(0.38, -0.35, 0.265, 1.15);