﻿@import '_variables';
@import '_mixins';
@import '_helpers';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: $primary-background-color;
    color: $primary-font-color;
    font-family: $primary-font;
    font-weight: $normal;
}

p {
    margin-bottom: 15px;
}

.primary-input {
    padding: 16px;
    border: none;
    outline: none;
    background-color: #3a3b3e;
    color: $primary-font-inactive-color;
    border-radius: 2px;
}

.primary-select{
	padding: 16px;
    border: none;
    outline: none;
    background-color: #3a3b3e;
    color: $primary-font-inactive-color;
    border-radius: 2px;
	&.full-width{
		width: 100%;
	}
}

.primary-btn {
    padding: 20px;
    border: none;
    outline: none;
    background-color: $primary-cta-color;
    color: $primary-font-inactive-color;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $primary-font;
    cursor: pointer;
    transition: background-color $primary-transition, color $primary-transition;
    border-radius: 2px;

    .lnr {
        margin-right: 8px;
        margin-left: 8px;
    }

    &:hover {
        background-color: $primary-cta-hover-color;
        color: $primary-font-color;
    }
}

.add-vine-btn {
    position: relative;
    width: 60px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    &:before, &:after {
        position: absolute;
        transition: transform $primary-transition;
        content: "";
        width: 40%;
        height: 3px;
        background-color: $primary-font-inactive-color;
    }

    &:after {
        transform: rotate(90deg);
    }
}

.container {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.primary-headlines {
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
        color: $background-contrast-color;
        font-weight: 400;
		text-align: center;
    }
}

.add-wine-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    overflow: hidden;
    width: auto;
    max-height: 57px;
    flex-flow: row wrap;
    transition: max-height $primary-transition;

    .form-text-container {
        margin-top: 5px;
        margin-bottom: 5px;
		width: 100%;
		display: inline-block;
    }

    .inputs {
        transition: opacity $primary-transition;
        opacity: 0;

        input, select {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }

    .add-submit {
        width: 100%;
    }

    &.active {
        max-height: 500px;

        .inputs {
            opacity: 1;
        }

        .add-vine-btn {
            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }
    }
}

.vine-module {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
	padding-right: 15px;
    min-height: 60px;
    width: 100%;
    border: 1px solid $primary-border-color;
    border-radius: 2px;
    list-style: none;
    margin: 0px 0px 15px 0px;
    max-height: 64px;
    overflow: hidden;
    transition: max-height $primary-transition;

	.delete{
		position: absolute;
		top: 5px; 
		left: 5px;
		cursor: pointer;
		opacity: .3;
		border-radius: 2px;
		background-color: #008eb3;
		&:hover{
			opacity: 1;
		}
	}

    .details {
        opacity: 0;
        visibility: 0;
        transition: opacity $primary-transition;
    }

    h3 {
        padding-bottom: 50px;
        padding-top: 17px;
		padding-left: 30px;
		padding-right: 50px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
    }

    .close {
        display: none;
    }

    .read-more {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        margin-left: auto;
        padding: 20px;
        background-color: $primary-cta-color;
        color: $primary-font-inactive-color;
        transition: background-color $primary-transition, color $primary-transition;
        height: 62px;
		border-bottom-left-radius: 2px;

        &:hover {
            background-color: $primary-cta-hover-color;
            color: $primary-font-color;
        }
    }

    &.active {
        max-height: 800px;

        .details {
            opacity: 1;
            visibility: visible;
        }

        .close {
            display: block;
        }

        .show {
            display: none;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
    }
}
